body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 0%, 97%);
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  text-align: center;

  justify-content: center;
  flex-direction: column;
  padding: 2em;
  /* width: 75%; */
  margin: auto;

  max-width: 1000px;
}

.heroTitle {
  font-size: clamp(1rem, 5vw, 8rem);
  margin-top: 0;
}

.swishIcon {
  width: 50%;
  margin: auto;
  padding: 1rem;
}
