/* Header nav */

header {
  background-color: rgb(230, 32, 32);
  color: white;
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
}

.logoImg {
  width: 5rem;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
  }
}

header ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav {
  display: flex;
}

header li a {
  text-decoration: none;
  color: white;

  display: inline-block;
  padding: 2rem;
}

.logoTitle {
  text-decoration: none;
  color: white;
  font-size: clamp(2rem, 4vw, 3rem);
  margin: 0;
  padding: 0;
}

.logoBoth {
  display: flex;
  justify-content: center;
  align-items: center;
}

header li a:hover {
  background-color: black;
}

header li {
  align-items: center;
  list-style-type: none;
}

/* Slut på header */

img {
  border-radius: 2rem;
}

button {
  border: none;
  background-color: rgb(230, 32, 32);
  color: white;
  font-size: 1.25rem;
  padding: 1rem;
  border-radius: 2rem;
  width: 100%;
  transition: transform 0.1s;
  /* margin: 1em; */
  margin-top: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 80%, 60%);
  /* transform: scale(1.05); */
}
button:active {
  background-color: hsl(0, 80%, 50%);
  transform: scale(0.95);
}

/* Footer Css */

footer {
  background-color: hsl(0, 0%, 5%);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 3rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 100%;
}

.socialFollow {
}

.socialIcons {
  width: 15%;

  cursor: pointer;
}

@media (max-width: 600px) {
  footer {
    grid-template-columns: 1fr;
  }
}
